

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

body { 
    text-align: center; 
} 

h1 { 
    font-family: NanumBarunpen;
    src: url font/NanumBarunpenR.ttf;}
    text-align: center;
    margin: 0 auto; 
}

h2 { 
    font-weight: 10;
    font-size: 10px;
    width: 100px
    text-align: center;
    margin: 0 auto; 
}

p { text-align: center; width: 500px; margin: 0 auto; }



@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.gallery{
    margin: 10px 50px;

}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px ;
}

.gallery img:hover {
    filter:grayscale(100%);
    transform: scale (3.1);
} 